<!DOCTYPE html>
<html lang="en">
   <head>
    <title>ColorMap | Color fucking rules</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no" />

    <!-- CDN and requirements -->
    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:700,400' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9v01FTMbHQtjAhft2xE1qKCbLmiptWaM&sensor=true"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js" type="text/javascript"></script>
    <!-- Required non-CDN -->
    <script src="/public/socket.io.js" type="text/javascript"></script>

    <!-- Custom internals -->
    <link href="/public/colormap.css" rel='stylesheet' type='text/css'>
    <script src="/public/gmaps.js" type="text/javascript"></script>
    <script src="/public/index.js" type="text/javascript"></script>


    <!-- ?Asd/ -->
    <script type="text/javascript">
      $(document).ready(function(){
        $(".trigger").click(function(){
          var panel = $(".panel");
          if (panel.css("display") !== "none") {
            $(".panel").hide("slide",{direction:"left"}, 500);
          } 
          else {
            $(".panel").show("slide",{direction:"left"}, 500);
          }
          return false;
         });
      });
    </script>
    <style type="text/css">
      .color-ui-text {
        color: <%= color %>;
      }
      .color-ui-fg {
        color: <%= color %>;
      }
      .color-ui-bg {
        background-color: <%= color %>;
        border-color: <%= color %>;
      }
    </style>
  </head>
  <body>
    <h1 class="logo">ColorMap</h1>
    <div id="map-canvas"></div>

    <!-- UI -->
    <div id="options">
      <div class="panel color-ui-bg" style="display: inline;">
        <ul>
          <li><a class="li" href="http://www.google.com" title="home">@</a></li>
          <li><a class="li" href="http://www.google.com" title="about">$</a></li>
          <li><a class="li" href="http://www.google.com" title="portfolio">&</a></li>
        </ul>
      </div>
      <a class="trigger color-ui-bg" href="#">&bull;</br>&bull;</br>&bull;</br></a>
    </div>

    <!-- Aasd -->
    <div id="footer">COLORMAP All rights reserved 2013</div>
  </body>
</html>
